.container-main{
    background-color: #eee;

    border: 3px solid #ddd;    
    border-radius: 7px;

    padding: 10px;

    box-shadow: -2.5px -2.5px 2.5px 2.5px #bbb;

    max-width: 600px;
    max-height: 600px;
}

.container-display {
    color: #99f;
    background-color: #fff;

    border-radius: 7.5px;
    border: 2px solid #ddd;
    
    min-height: 40px;
    margin: 10px;
    padding: 12px 15px;
    
    box-shadow: -1px -1px 1px 1px #bbb;

    text-align: right;
}
 
.container-buttons {
    background-color: #ddd;

    border-radius: 7.5px;

    min-height: 160px;
    margin: 10px;
    padding: 15px;

    box-shadow: -1px -1px 1px 1px #bbb;
  }