@import url("./variabes/variabes.css");

/* CSS reset */
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
}

body{
    width: 95vw;
    height: 90vh;
}

.title{
    font-size: 2rem;
    text-align: center;

    margin: 1rem 1rem 2rem;

    color: darkblue;
    text-shadow: 1px 1px 3px slateblue;

    letter-spacing: 2px;
}

.title:hover{
    color: red;
    font-size: 3rem;
}

.title, .title:hover{
    transition: ease-in-out .3s color, ease-in-out .3s font-size;
}

footer{
    color: cornflowerblue;
    text-shadow: 1px 1px 5px turquoise;
}

footer:hover{
    color: red;
    text-shadow: 1px 1px 5px salmon;
    transition: ease-in-out 0.3s all;
}