/* CSS reset */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
}

body {
    width: 95vw;
    height: 90vh;
}

.title {
    font-size: 3rem;
    text-align: center;

    margin: 1rem 1rem 2rem;

    color: red;
    text-shadow: 1px 1px 3px slateblue;

    letter-spacing: 2px;
}

.button {
    background-color: #ddd;
    color: #000;

    padding: 10px;
    margin: 5px;

    border-radius: 4px;

    height: 20%;
    width: 30%;

    box-shadow: -1px -1px 1px 1px #bbb;
}

.button:hover {
    color: #fff;
    background-color: #888;
}

footer {
    color: cornflowerblue;
    text-shadow: 1px 1px 5px turquoise;
}

footer:hover {
    color: red;
    text-shadow: 1px 1px 5px salmon;
    transition: ease-in-out 0.3s all;
}